.footer {
    display: block;
    background-color: #C3B696;
    height: 150px;
    color: #594524;
    margin-bottom: auto;
}

#logoNB {
    width: 106px;
    height: 75px;
    margin-left: 6%;
    margin-top: 3%;
    float: bottom;

}



#facebook {
    width: 25px;
    height: auto;
    display: block;
    float: left;
}

#div-facebook {
    display: block;
    margin-top: -130px;
    margin-left: 80%;

}

#div-facebook a {
    margin-left: 2px;
    color: #594524;
}

#div-snapchat {
    display: block;
    margin-top: 1%;
    margin-left: 80%;

}

#div-snapchat p {
    margin-left: 2px;
    color: #594524;
}

#snapchat {
    width: 25px;
    height: auto;
    float: left;
    display: block;
}

#div-tel {
    display: block;
    margin-top: 1%;
    margin-left: 80%;

}

#div-tel p {
    margin-left: 2px;
    color: #594524;

}

#tel {
    width: 25px;
    height: auto;

    display: block;
    float: left;

}

#div-mail {
    display: block;
    margin-top: 1%;
    margin-left: 80%;

}

#div-mail p {
    margin-left: 2px;
    color: #594524;
}

#mail {
    width: 30px;
    height: auto;

    display: block;
    float: left;

}

#tendaime {
    display: block;
    width: 150px;
    height: auto;
    margin-left: 89%;
    margin-top: -9%;
}

.connexion {
    display: block;

    bottom: 45px;
    left: 10px;

}

.connexion a {
    color: black;
}